.as_18 {
    width: 22px;
    height: 25px;
    min-width: 22px;
    min-height: 25px;
    padding: 2px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-weight: bold;
    border: 0px solid black;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    background-image: url(../img/seats/seat_available.png);
}